@media (min-width: 768px) {

  #members.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
  }

  .member-card img {
    width: 150px;
    height: 100px;
  }

  #members.list {
    display: flex;
    flex-direction: column;
    grid-template-columns: 2fr 3fr 2fr 3fr;
    align-items: center;
    gap: 1rem;
  }

}

/* ==========================
  LIST VIEW ON DESKTOP
========================== */

#members.list .member-card {
  max-width: 100%;
  width: 100%;
}


/* ==========================
   Hamburguer Menu
========================== */
@media screen and (min-width: 768px) {

  /* Hide hamburger on desktop */
  #menu {
    display: none;
  }

  /* Always show nav on desktop */
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.5rem;
  }

}

