@media (min-width: 768px) {

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  #menuBtn {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  main section:last-child {
    grid-column: span 2;
  }
}
