body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  line-height: 1.6;
}

header, footer {
  background-color: #222;
  color: white;
  padding: 1rem;
}

nav {
  display: none;
  flex-direction: column;
}

nav.show {
  display: flex;
}

main {
  padding: 1rem;
}

.card {
  background: #f2f2f2;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
}

img {
  max-width: auto;
  height: 20rem;
}
