body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  line-height: 1.6;
}

header,
footer {
  background-color: #000000;
  color: white;
  padding: 1rem;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 60px;
  height: auto;
}

nav {
  display: none;
  flex-direction: column;
}

nav.show {
  display: flex;
}

main {
  padding: 1rem;
}

.card {
  background: #f2f2f2;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
}

img {
  width: auto;
  height: 20rem;
}